# development
hidden/*
trash/*
external/*

# test environments
experiment/*
mydqa/*
activate.sh
env.yml

# backups
bak/*

# tmp and cache
*/__pycache__/*

# external libraries
lib/leaves/*
lib/matcha/*